# pandas ,numpy

In [3]:
import pandas as pd
import numpy as np


# Creating empty series
ser = pd.Series()

print(ser)

# simple array
data = np.array(['g', 'e', 'e', 'k', 's'])

ser = pd.Series(data)
print(ser)

ModuleNotFoundError: No module named 'pandas'

In [10]:
print("hi"+"\n"+"nahi")
print("hello")

hi
nahi
hello

# Creating a DataFrame:

In [5]:
df = pd.DataFrame()
print(df)
 
# list of strings
lst = ['Geeks', 'For', 'Geeks', 'is', 
            'portal', 'for', 'Geeks']
   
# Calling DataFrame constructor on list
df = pd.DataFrame(lst)
print(df)

Empty DataFrame
Columns: []
Index: []
        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

In [16]:
df = pd.read_csv("examplefile.csv")
df

,ban,attribute_code,attribute_sub_type,effective_datetime,sys_creation_datetime,sys_updatetime_datetime,operator_id,application_id,dl_service_code,dl_updatetime_stamp,attribute_type,attribute_s_value,"attribute_d_value""",attribute_n_value,expiration_datetime
0,127372547,,ENJOY,2020-08-19 00:00:00,2020-08-19 09:22:35,NaN,NaN,NaN,CS627,NaN,S,BECHURLEY@HOTMAIL.CO.UK,NaN,NaN,NaN
1,121338331,,ENJOY,2020-08-19 00:00:00,2020-08-19 07:23:13,NaN,NaN,NaN,CS627,NaN,S,WENDYMCCORMACK960@GOOGLEMAIL.COM,NaN,NaN,NaN
2,121213295,,ENJOY,2020-08-19 00:00:00,2020-08-19 08:13:57,NaN,NaN,NaN,CS627,NaN,S,RAYWILLETTS11@GMAIL.COM,NaN,NaN,NaN
3,125286931,,ENJOY,2020-08-19 00:00:00,2020-08-19 08:19:58,NaN,NaN,NaN,CS627,NaN,S,SPOCKROT@YAHOO.CO.UK,NaN,NaN,NaN
4,120072633,,ENJOY,2020-08-19 00:00:00,2020-08-19 08:25:12,NaN,NaN,NaN,CS627,NaN,S,JOHNATHAN@REGAL.FREESERVE.CO.UK,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167400,128958184,EMAIL,ENJOY,2021-01-16 00:00:00,2021-01-16 14:33:15,NaN,NaN,NaN,CS627,NaN,S,CHRISTIE-STEVEN@SKY.COM,NaN,NaN,NaN
167401,124405499,EMAIL,ENJOY,2021-01-16 00:00:00,2021-01-16 14:33:35,NaN,NaN,NaN,CS627,NaN,S,ANNA_SHAW@HOTMAIL.CO.UK,NaN,NaN,NaN
167402,122549065,EMAIL,ENJOY,2021-01-16 00:00:00,2021-01-16 14:41:12,NaN,NaN,NaN,CS627,NaN,S,ROBJW1968@MSN.COM,NaN,NaN,NaN
167403,149230264,EMAIL,ENJOY,2021-01-16 00:00:00,2021-01-16 15:42:34,NaN,NaN,NaN,CS627,NaN,S,DONNAMERCER@HOTMAIL.CO.UK,NaN,NaN,NaN
167404,148593895,EMAIL,ENJOY,2021-01-16 00:00:00,2021-01-16 16:07:38,NaN,NaN,NaN,CS627,NaN,S,KRISRAMSAMY@GMAIL.COM,NaN,NaN,NaN

# Reading CSV file with custome delimeter

In [12]:
df = pd.read_csv('examplefile.csv',
                 sep=',',
                 engine='python')
  
# Print the Dataframe
df

,ban,attribute_code,attribute_sub_type,effective_datetime,sys_creation_datetime,sys_updatetime_datetime,operator_id,application_id,dl_service_code,dl_updatetime_stamp,attribute_type,attribute_s_value,"attribute_d_value""",attribute_n_value,expiration_datetime
0,127372547,,ENJOY,2020-08-19 00:00:00,2020-08-19 09:22:35,NaN,NaN,NaN,CS627,NaN,S,BECHURLEY@HOTMAIL.CO.UK,NaN,NaN,NaN
1,121338331,,ENJOY,2020-08-19 00:00:00,2020-08-19 07:23:13,NaN,NaN,NaN,CS627,NaN,S,WENDYMCCORMACK960@GOOGLEMAIL.COM,NaN,NaN,NaN
2,121213295,,ENJOY,2020-08-19 00:00:00,2020-08-19 08:13:57,NaN,NaN,NaN,CS627,NaN,S,RAYWILLETTS11@GMAIL.COM,NaN,NaN,NaN
3,125286931,,ENJOY,2020-08-19 00:00:00,2020-08-19 08:19:58,NaN,NaN,NaN,CS627,NaN,S,SPOCKROT@YAHOO.CO.UK,NaN,NaN,NaN
4,120072633,,ENJOY,2020-08-19 00:00:00,2020-08-19 08:25:12,NaN,NaN,NaN,CS627,NaN,S,JOHNATHAN@REGAL.FREESERVE.CO.UK,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167400,128958184,EMAIL,ENJOY,2021-01-16 00:00:00,2021-01-16 14:33:15,NaN,NaN,NaN,CS627,NaN,S,CHRISTIE-STEVEN@SKY.COM,NaN,NaN,NaN
167401,124405499,EMAIL,ENJOY,2021-01-16 00:00:00,2021-01-16 14:33:35,NaN,NaN,NaN,CS627,NaN,S,ANNA_SHAW@HOTMAIL.CO.UK,NaN,NaN,NaN
167402,122549065,EMAIL,ENJOY,2021-01-16 00:00:00,2021-01-16 14:41:12,NaN,NaN,NaN,CS627,NaN,S,ROBJW1968@MSN.COM,NaN,NaN,NaN
167403,149230264,EMAIL,ENJOY,2021-01-16 00:00:00,2021-01-16 15:42:34,NaN,NaN,NaN,CS627,NaN,S,DONNAMERCER@HOTMAIL.CO.UK,NaN,NaN,NaN
167404,148593895,EMAIL,ENJOY,2021-01-16 00:00:00,2021-01-16 16:07:38,NaN,NaN,NaN,CS627,NaN,S,KRISRAMSAMY@GMAIL.COM,NaN,NaN,NaN

# Reading particular colomn in Data CSV file

In [15]:
df = pd.read_csv("examplefile.csv",
                header=0,
                usecols= ["effective_datetime","attribute_s_value","sys_creation_datetime"],
                nrows=5)
df

    effective_datetime sys_creation_datetime                 attribute_s_value
0  2020-08-19 00:00:00   2020-08-19 09:22:35           BECHURLEY@HOTMAIL.CO.UK
1  2020-08-19 00:00:00   2020-08-19 07:23:13  WENDYMCCORMACK960@GOOGLEMAIL.COM
2  2020-08-19 00:00:00   2020-08-19 08:13:57           RAYWILLETTS11@GMAIL.COM
3  2020-08-19 00:00:00   2020-08-19 08:19:58              SPOCKROT@YAHOO.CO.UK
4  2020-08-19 00:00:00   2020-08-19 08:25:12   JOHNATHAN@REGAL.FREESERVE.CO.UK

In [19]:
        var = 1
print(var)

1

In [20]:
t=7.8
print(type(t))

<class 'float'>

In [44]:
l=['s',1,2,4]
print(id(l))
l= [1.2,45]+l
print(l)
print(id(l))
print(len(l))

2026442406656
[1.2, 45, 's', 1, 2, 4]
2026442564288
6

In [45]:
t = 1,
print(id(t))
print(len(t))
t =(12,121)+t
print(t)
print(id(t))
print(len(t))

2026436705200
1
(12, 121, 1)
2026442406272
3

In [ ]:
t = '12','1'+t

In [62]:
p  y t h o n
-6-5-4-3-2-1
s="python"
print(s[-2::-2])

otp

In [66]:
print(22/7)   #it will give exact output

3.142857142857143

In [67]:
print(22//7)   #floor value niche ka value

3

In [68]:
print("PHP">"php") #its compare with charecter by charecter ASCII value

False

In [69]:
print("php">"pephj") 
# its true because its compare ASCII value charecter by char by char h>e ASCII

True